<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lmis"
    android:versionCode="18"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />


    <application
        android:name="com.lmis.LmisApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!-- Android Account Authentication Service -->
        <service android:name="com.lmis.auth.LmisAuthenticateService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name="com.lmis.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.lmis.AppSettingsActivity">
            <intent-filter>
                <action android:name="com.lmis.ACTION_ACCOUNT_CONFIG" />
            </intent-filter>
        </activity>
                <!--org sync service-->
        <service
            android:name="com.lmis.services.OrgSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_org" />
        </service>


        <provider
            android:name="com.lmis.providers.org.OrgProvider"
            android:authorities="com.lmis.providers.org"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label_org"
            android:syncable="true" />

        <!--user_org sync-->
        <service
            android:name="com.lmis.services.UserOrgSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_user_org" />
        </service>


        <provider
            android:name="com.lmis.providers.user_org.UserOrgProvider"
            android:authorities="com.lmis.providers.user_org"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label_user_org"
            android:syncable="true" />


        <!-- il_config sync service -->
        <service
            android:name="com.lmis.services.IlConfigSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_il_config" />
        </service>


        <provider
            android:name="com.lmis.providers.il_config.IlConfigProvider"
            android:authorities="com.lmis.providers.il_config"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label_il_config"
            android:syncable="true" />



        <!--message sync service-->
        <service
            android:name="com.lmis.services.MessageSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_message" />
        </service>


        <provider
            android:name="com.lmis.providers.message.MessageProvider"
            android:authorities="com.lmis.providers.message"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label_message"
            android:syncable="true" />

        <!--inventoryMove sync-->
        <service
            android:name="com.lmis.services.InventoryOutSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_inventory_move" />
        </service>
        <provider
            android:name="com.lmis.providers.inventory_move.InventoryMoveProvider"
            android:authorities="com.lmis.providers.inventory_move"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label_inventory_move"
            android:syncable="true" />
    </application>
</manifest>
